html {
   height: 100%;
}

body {
   width: 1745px;
   height: 866px;
   margin: 0;
   display: flex;
   background-color: #00ccff;
   position: relative;
   overflow: hidden;
}

.root {
   width: 1745px;
   height: 866px;
   margin: 0;
   display: flex;
   background-color: #00ccff;
   position: relative;
   overflow: hidden;
}

.backgroundInteract {
   width: 1745px;
   height: 866px;
   margin: 0;
   display: flex;
   background-color: #00ccff;
   position: relative;
   overflow: hidden;
   z-index: 1;
}

.ballRandom {
   border-radius: 50%;
   position: absolute;
   z-index: 999;
   border: 0px;
   width: unset;
   height: unset;
   left: unset;
   right: unset;
}



